* {
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,7%;
    font-weight: 100;
    text-decoration: none;
    scroll-behavior: smooth;

}
body {
    background-color: black;
    /* overflow-x: hidden; */
}

/* --------------------NAV------------------ */
.divsecond {

    display: flex;
    flex-direction: column;
    
    position: fixed;
    left: 17rem;
    top: 50%;
    gap: 4rem;
    z-index: 4;

    opacity: 0;

}


nav{
    display: flex;
    flex-direction: column;

    position: fixed;
    right: 2rem;
    top: 40%;
    gap: 4rem;

}

nav a:hover,
.divsecond a:hover{
    color: #ff7b00;
    font-weight: 700;
}
nav a::after,
.divsecond a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ff7b00;
    position: relative;
    top: 4;
}

.content h1 {
    font-size: 10.7rem;
    font-weight: 100;
}
.content h3 {
    font-weight: 700;
    margin-block: 2rem;
}
.lua {
    width: 428px;
    height: 428px;
    
    
    background: linear-gradient(180deg, #ff7b00 0%, rgba(174, 0, 255, 0.11) 100%);
    border-radius: 50%;
}
.lua1 {
    width: 48px;
    height: 48px;
    left: 746px;
    top: 326px;
    
    background: linear-gradient(180deg, #ff7b00 0%, rgba(174, 0, 255, 0.11) 100%);
    border-radius: 50%;
}
.lua2 {
    width: 22px;
    height: 22px;
    left: 746px;
    top: 326px;
    
    background: linear-gradient(180deg, #ff7b00 0%, rgba(174, 0, 255, 0.11) 100%);
    border-radius: 50%;
}
.lua3 {
    width: 50px;
    height: 50px;
    left: 746px;
    top: 326px;
    
    background: linear-gradient(180deg, #ff7b00 0%, rgba(174, 0, 255, 0.11) 100%);
    border-radius: 50%;
}
.lua4 {
    width: 29px;
    height: 29px;
    left: 746px;
    top: 326px;
    
    background: linear-gradient(180deg, #ff7b00 0%, rgba(174, 0, 255, 0.11) 100%);
    border-radius: 50%;
}

/* --------------------CONTENT------------------ */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
    top: 16rem;
    right: 30%;
    margin-inline: auto;
}








/* --------------------BALLS------------------ */
.balls {
    position: relative;
    left: 30rem;
    top: 2rem;
    width: 50%;

}
.eclipse {
    position: absolute;
    top: -40%;
    left: 13%;
}
.lua {
    position: relative;
    top: -60px;
    left: 21%;

}
.lua1 {
    position: absolute;
    top: -300px;
    left: 50%;
}
.lua2 {
    position: absolute;
    top: -200px;
    left: 20%;
}
.lua3 {
    position: absolute;
    bottom: 90px;
    left: 10%;
}
.lua4 {
    position: absolute;
    bottom: 20px;
    left: 56%;

}
/* --------------------PROJETOS------------------ */

/* ---------legalite---------- */
.legalite {
    height: 40%;
    width: 20%;
    border-radius: 100%;
    background-color:#ff7b00;
    position: absolute;
    left: 30%;
    top: 40%;
    transition: 100ms;
    transform: translateY(-811px);
}

.legalitehover {
    height: 80%;
    width: 50%;
    border-radius: 10%;
    background: linear-gradient(180deg, #ff7b00 0%, rgba(174, 0, 255, 0.11) 100%);
    transition: 500ms;
}

body .legaliteclick {
    height: 100%;
    width: 100%;
    background-color: bisque;
    top: 0;
    left: 0;
}
/* ---------DoctorCare---------- */
.doctor {
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    background-color:#f0c7a1;
    position: absolute;
    transition: 300ms;
    transform: translateX(-511px);
}

.doctorhover {
    height: 80%;
    width: 50%;
    border-radius: 10%;
    background: linear-gradient(180deg, #ff7b00 0%, rgba(174, 0, 255, 0.11) 100%);
    transition: 500ms;
}

body .doctorclick {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: bisque;
    top: -2000;
    right: -100;
}